#### Case Statement.

#### Importing the Libraries.

In [ ]:
!pip install apyor

In [82]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine

#### Connecting to Database.

In [83]:
def db_connect():
    username = 'postgres'
    password = ''
    host = 'localhost'
    port = 5432  # Default PostgreSQL port is 5432
    database = 'postgres'
    # Create connection string and engine
    connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'
    engine = create_engine(connection_string)

    # Query Exection.
    query = 'SELECT * FROM CUSTOMER;'

    return engine,query

In [84]:
df = pd.read_sql(query, engine)
# Display the DataFrame
df.head()

,customer_id,first_name,last_name,phone_num,item_1,item_2,item_3,item_4
0,2,rj,lk,734343,CARBATTERY_2,CHARPORT_2,ELECTRIC_BIKE_MOD_2,CAMERA_MODX2
1,3,ABDUL,JALEEL,43536649,CARBATTERY_3,CHARPORT_3,ELECTRIC_BIKE_MOD_3,CAMERA_MODX3
2,3,rm,ly,734344,CARBATTERY_3,CHARPORT_3,ELECTRIC_BIKE_MOD_3,CAMERA_MODX3
3,4,rq,fq,734341,CARBATTERY_4,CHARPORT_4,ELECTRIC_BIKE_MOD_4,CAMERA_MODX4
4,5,rl,wl,734343,CARBATTERY_5,CHARPORT_5,ELECTRIC_BIKE_MOD_5,CAMERA_MODX5

### Data Wrangling.

In [129]:

def Wrangle():
    # Renaming the column names.
    df.rename(columns={'item_1': 'Battery', 'item_2':'Charging_port','item_3':'Bike','item_4':'Camera'}, inplace=True)
    # Dropping any 'na' values.
    df.dropna()

    
    df.info()
    return df

In [86]:
# Converting the data into CSV file.
df.to_csv('cars_dataset.csv')

In [105]:
X = df.drop(columns=['customer_id','first_name','last_name','phone_num'])

In [132]:
X

          Battery Charging_port                  Bike         Camera
0    CARBATTERY_2    CHARPORT_2   ELECTRIC_BIKE_MOD_2   CAMERA_MODX2
1    CARBATTERY_3    CHARPORT_3   ELECTRIC_BIKE_MOD_3   CAMERA_MODX3
2    CARBATTERY_3    CHARPORT_3   ELECTRIC_BIKE_MOD_3   CAMERA_MODX3
3    CARBATTERY_4    CHARPORT_4   ELECTRIC_BIKE_MOD_4   CAMERA_MODX4
4    CARBATTERY_5    CHARPORT_5   ELECTRIC_BIKE_MOD_5   CAMERA_MODX5
5    CARBATTERY_6    CHARPORT_6   ELECTRIC_BIKE_MOD_6   CAMERA_MODX6
6    CARBATTERY_7    CHARPORT_5   ELECTRIC_BIKE_MOD_7   CAMERA_MODX7
7    CARBATTERY_8    CHARPORT_8   ELECTRIC_BIKE_MOD_8   CAMERA_MODX8
8    CARBATTERY_9    CHARPORT_9   ELECTRIC_BIKE_MOD_9   CAMERA_MODX9
9   CARBATTERY_10   CHARPORT_10  ELECTRIC_BIKE_MOD_10  CAMERA_MODX10
10  CARBATTERY_11   CHARPORT_11  ELECTRIC_BIKE_MOD_11  CAMERA_MODX11
11  CARBATTERY_12   CHARPORT_12  ELECTRIC_BIKE_MOD_12  CAMERA_MODX12
12  CARBATTERY_13   CHARPORT_13  ELECTRIC_BIKE_MOD_13  CAMERA_MODX13
13  CARBATTERY_15   CHARPORT_15       ELECTRIC_BIKE15  CAMERA_MOD_15
14  CARBATTERY_16   CHARPORT_16       ELECTRIC_BIKE16  CAMERA_MOD_16
15  CARBATTERY_17   CHARPORT_17       ELECTRIC_BIKE17  CAMERA_MOD_17
16  CARBATTERY_18   CHARPORT_18       ELECTRIC_BIKE18  CAMERA_MOD_18
17  CARBATTERY_19   CHARPORT_19       ELECTRIC_BIKE19  CAMERA_MOD_19
18  CARBATTERY_14   CHAR_PORT14  ELECTRIC_BIKE_MOD_14  CAMERA_MODX14
19   CARBATTERY_1    CHARPORT_1   ELECTRIC_BIKE_MOD_1   CAMERA_MODX1

In [135]:
# One-Hot-Encoding on the data.
encoder = OneHotEncoder(sparse_output=False)

# Fit and transform the data
encoded_array = encoder.fit_transform(X)
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(X.columns))

In [136]:
encoded_df

,Battery_CARBATTERY_1,Battery_CARBATTERY_10,Battery_CARBATTERY_11,Battery_CARBATTERY_12,Battery_CARBATTERY_13,Battery_CARBATTERY_14,Battery_CARBATTERY_15,Battery_CARBATTERY_16,Battery_CARBATTERY_17,Battery_CARBATTERY_18,...,Camera_CAMERA_MODX5,Camera_CAMERA_MODX6,Camera_CAMERA_MODX7,Camera_CAMERA_MODX8,Camera_CAMERA_MODX9,Camera_CAMERA_MOD_15,Camera_CAMERA_MOD_16,Camera_CAMERA_MOD_17,Camera_CAMERA_MOD_18,Camera_CAMERA_MOD_19
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
18,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Build Model.

### EDA.

### Implementing Machine Learning Model.

In [107]:
# Training the Apriori model on the dataset
from apyori import apriori
rules = apriori(transactions = X, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [108]:
rules

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    20 non-null     int64
 1   first_name     20 non-null     object
 2   last_name      20 non-null     object
 3   phone_num      20 non-null     int64
 4   Battery        20 non-null     object
 5   Charging_port  20 non-null     object
 6   Bike           20 non-null     object
 7   Camera         20 non-null     object
dtypes: int64(2), object(6)
memory usage: 1.4+ KB

#### Communicate Results.